html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url("../images/pancake-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #111;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "photo rate-conversion"
    "ingredients directions";
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  width: 100%;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 20px;
}

.header {
  grid-area: header;
  text-align: center;
  color: #b45f06;
}

.photo {
  grid-area: photo;
}

.ingredients {
  grid-area: ingredients;
}

.rate-conversion {
  grid-area: rate-conversion;
}

.directions {
  grid-area: directions;
}

img {
  display: block;
  max-width: 90%;
  height: auto;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  font-size: 0.9em;
  color: #555;
}

fieldset {
  width: 260px;
  margin-bottom: 25px;
}

.rate-conversion h3+fieldset {
  margin-top: 10px;
  margin-bottom: 40px;
}

.rate-conversion h3 {
  margin-bottom: 8px;
}

.rate-conversion input[type="text"] {
  width: 80px;
  padding: 5px;
  margin: 0 5px 15px 0;
  box-sizing: border-box;
}

.ingredients ul,
.directions ol {
  margin-left: 20px;
}

footer.footer {
  text-align: center;
  margin: 0 auto 20px;
  width: 100%;
  max-width: 1000px;
  font-size: 0.9em;
  color: #333;
  background: none;
  border-radius: 0;
  padding: 10px 0;
}
